<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit reader</title>
</head>
<body>
<form th:method="PATCH" th:object="${reader}" th:action="@{/people/{id}(id=${reader.getId()})}">
  <label for="fullName">Enter full name:</label>
  <input type="text" id="fullName" th:field="*{fullName}" th:value="${reader.getFullName()}"><br><br>
    <div style="color : red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
  <label for="dateOfBirth">Enter year of birth:</label>
  <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" th:value="${reader.getDateOfBirth()}"><br><br>
    <div style="color : red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></div>
  <input type="submit" value="Update!">
</form>
</body>
</html>