<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reader</title>
</head>
<body>
    <p th:text="${reader.getFullName() + ', ' + reader.getDateOfBirth()}"></p>

    <div th:if="${books.isEmpty()}">
        <p>The reader hasn't taken any books yet.</p>
    </div>

    <div th:unless="${books.isEmpty()}">
        <hr>
        <h4>Книги:</h4>
        <ul>
            <li th:each="book : ${books}">
                <a th:style="${book.isExpired()} ? 'color : red' : 'color : black'" th:href="@{/book/{id}(id=${book.getId()})}"
                   th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfWriting()}">
                    Book info
                </a>
            </li>
        </ul>
    </div><hr>

    <a th:href="@{/people/{id}/edit(id=${reader.getId()})}">
        <button>Update</button>
    </a>
    <br><br>
    <form th:action="@{/people/{id}(id=${reader.getId()})}" th:method="DELETE">
        <input th:type="submit" th:value="Delete">
    </form>
</body>
</html>